.banner-information__wrap {
  display: none;
  @media screen and (min-width: $tabletBig) {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
  }
  @media screen and (min-width: $fullHd) {
    margin-bottom: 92px;
  }
}
.banner-information__item {
  border: 1px solid $magenta;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 15px;
  width: 45px;
  font-weight: $medium;
  font-size: $font-12;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $lightgrey;
  @media screen and (min-width: $tabletSmall) {
    width: 65px;
    margin-right: 22px;
    font-size: $font-16;
    line-height: 21px;
  }
  @media screen and (min-width: $tabletBig) {
    border: 2px solid $magenta;
    border-radius: 10px;
    margin-right: 30px;
    width: 86px;
    font-size: $font-22;
    line-height: 29px;
  }
  @media screen and (min-width: $fullHd) {
    border: 3px solid $magenta;
    margin-right: 40px;
    width: 120px;
    font-size: $font-30;
    line-height: 39px;
  }
}
.banner-information__time {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  @media screen and (min-width: $tabletSmall) {
    height: 40px;
  }
  @media screen and (min-width: $tabletBig) {
    height: 46px;
  }
  @media screen and (min-width: $fullHd) {
    height: 58px;
  }
}
.banner-information__time--top {
  background: $magenta;
}
.banner-information__text {
  font-weight: $medium;
  font-size: $font-22;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  display: block;
  padding-bottom: 4px;
  @media screen and (min-width: $tabletSmall) {
    font-size: $font-40;
    line-height: 50px;
    padding-bottom: 0;
  }
  @media screen and (min-width: $tabletBig) {
    font-size: $font-42;
    line-height: 50px;
    padding-bottom: 0;
  }
  @media screen and (min-width: $fullHd) {
    font-size: $font-58;
    line-height: 70px;
  }
}
.country-wrap {
  display: flex;
  align-items: center;
}
.banner-information__text--semi {
  font-family: $familyWulkan;
  font-style: italic;
  font-weight: $semibold;
  letter-spacing: 0.02em;
  padding-left: 7px;
  padding-bottom: 0;
  @media screen and (min-width: $tabletBig) {
    padding-left: 15px;
  }
}
.banner-information__img {
  max-width: 26px;
  @media screen and (min-width: $tabletSmall) {
    max-width: 36px;
  }
  @media screen and (min-width: $tabletBig) {
    max-width: 40px;
  }
  @media screen and (min-width: $fullHd) {
    max-width: 73px;
  }
}
.banner-container {
  background-color: $blue;
  flex: 1 0 auto;
  justify-content: center;
  padding: 0 16px 45px;
  overflow: hidden;
  position: relative;
  @media screen and (min-width: $mobile) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: $tabletSmall) {
    padding: 0 75px 38px;
  }
  @media screen and (min-width: $tabletBig) {
    display: flex;
    padding: 0 45px;
  }
  @media screen and (min-width: $desktop) {
    padding: 82px 84px 0;
  }
  @media screen and (min-width: $fullHd) {
    padding: 112px 118px 0;
  }
}
.banner-container__person {
  position: relative;
  text-align: center;
  &:after {
    content: '';
    clear: both;
    visibility: hidden;
  }
  @media screen and (min-width: $tabletBig) {
    display: flex;
    align-items: end;
    margin-right: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 78px;
  }
  @media screen and (min-width: $fullHd) {
    margin-right: 108px;
  }
}
.banner-container__img {
  display: none;
  max-width: 265px;
  z-index: 1;
  margin-bottom: -32px;
  @media screen and (min-width: $mobile) {
    max-width: 306px;
    margin-bottom: -37px;
  }
  @media screen and (min-width: $tabletSmall) {
    max-width: 616px;
    margin-bottom: -65px;
  }
  @media screen and (min-width: $tabletBig) {
    display: inline-block;
    max-width: 602px;
    margin: 0 30px -60px -70px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 631px;
    margin: 0 0 -65px;
  }
  @media screen and (min-width: $fullHd) {
    max-width: 890px;
    margin: 0 0 -90px;
  }
}
.banner-container__img--mobile {
  display: inline-block;
  @media screen and (min-width: $tabletBig) {
    display: none;
  }
}
.banner-background__item {
  position: absolute;
}
.banner-background__item--1 {
  display: none;
  @media screen and (min-width: $tabletBig) {
    display: inline-block;
    top: 0;
    left: 47%;
    max-width: 118px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 156px;
  }
  @media screen and (min-width: $fullHd) {
    max-width: 100%;
  }
}
.banner-background__item--2 {
  right: 0;
  bottom: 0;
  max-width: 62px;
  @media screen and (min-width: $tabletSmall) {
    bottom: 50px;
    max-width: 110px;
  }
  @media screen and (min-width: $tabletBig) {
    max-width: 70px;
    top: 0;
    bottom: auto;
  }
  @media screen and (min-width: $desktop) {
    max-width: 233px;
  }
  @media screen and (min-width: $fullHd) {
    max-width: 100%;
  }
}
.banner-background__item--3 {
  bottom: 146px;
  left: -5%;
  max-width: 68px;
  @media screen and (min-width: $tabletSmall) {
    max-width: 156px;
    bottom: 108px;
    left: -5%;
  }
  @media screen and (min-width: $tabletBig) {
    max-width: 118px;
    bottom: 0;
    right: -3%;
    left: auto;
  }
  @media screen and (min-width: $desktop) {
    max-width: 124px;
    right: 33px;
    bottom: 21px;
  }
  @media screen and (min-width: $fullHd) {
    max-width: 100%;
  }
}
.banner-background__item--4 {
  display: none;
  @media screen and (min-width: $tabletSmall) {
    display: inline-block;
    top: 169px;
    left: 0;
  }
  @media screen and (min-width: $tabletBig) {
    display: none;
  }
}
.person-name {
  position: absolute;
  right: -10%;
  top: 138px;
  z-index: 3;
  padding-bottom: 3px;
  text-align: left;
  max-width: 85px;
  @media screen and (min-width: $mobile) {
    right: -5%;
    top: 160px;
  }
  @media screen and (min-width: $tabletSmall) {
    right: -4%;
    top: 325px;
    max-width: 120px;
  }
  @media screen and (min-width: $tabletBig) {
    right: -38%;
    bottom: 15px;
    top: auto;
    padding-bottom: 0;
    max-width: 100%;
  }
  @media screen and (min-width: $desktop) {
    right: 0;
    bottom: 3px;
  }
  @media screen and (min-width: $fullHd) {
    bottom: 3px;
    right: 55px;
  }
}
.person-name__title {
  font-weight: $semibold;
  font-size: $font-8;
  line-height: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $lightgrey;
  @media screen and (min-width: $mobile) {
    font-size: $font-9;
    line-height: 11px;
  }
  @media screen and (min-width: $tabletSmall) {
    font-size: $font-17;
    line-height: 20px;
  }
  @media screen and (min-width: $tabletBig) {
    font-size: $font-16;
    line-height: 22px;
  }
  @media screen and (min-width: $fullHd) {
    font-size: $font-22;
    line-height: 31px;
  }
}
.person-name__subtitle {
  font-size: $font-5;
  line-height: 10px;
  letter-spacing: 0.06em;
  @media screen and (min-width: $mobile) {
    font-size: $font-6;
    line-height: 10px;
  }
  @media screen and (min-width: $tabletSmall) {
    font-size: $font-10;
    line-height: 14px;
  }
  @media screen and (min-width: $tabletBig) {
    font-size: $font-11;
    line-height: 20px;
  }
  @media screen and (min-width: $fullHd) {
    font-size: $font-15;
    line-height: 28px;
  }
}
.banner-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-information__bonus {
  padding: 8px 10px;
  background: $magenta;
  font-weight: $medium;
  font-size: $font-16;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  position: relative;
  @media screen and (min-width: $mobile) {
    padding: 9px 15px;
    font-size: $font-19;
    line-height: 21px;
    margin-bottom: 5px;
  }
  @media screen and (min-width: $tabletSmall) {
    padding: 12px 15px;
    font-size: $font-32;
    line-height: 41px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tabletBig) {
    padding: 16px 19px;
    font-size: $font-16;
    line-height: 18px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: $desktop) {
    padding: 16px 27px;
    font-size: $font-24;
    line-height: 27px;
  }
  @media screen and (min-width: $fullHd) {
    padding: 21px 29px;
    font-size: $font-34;
    line-height: 38px;
    margin-bottom: 20px;
  }
}
.banner-information__price {
  font-weight: 500;
  font-size: $font-58;
  line-height: 60px;
  margin-bottom: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  @media screen and (min-width: $mobile) {
    font-size: $font-70;
    line-height: 79px;
    margin-bottom: 13px;
  }
  @media screen and (min-width: $tabletSmall) {
    font-size: $font-120;
    line-height: 100px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: $tabletBig) {
    font-size: $font-110;
    line-height: 101px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: $fullHd) {
    font-size: $font-154;
    line-height: 142px;
    margin-bottom: 60px;
  }
}
.banner-btn__wrap {
  position: relative;
  height: 85px;
  @media screen and (min-width: $mobile) {
    height: 105px;
  }
  @media screen and (min-width: $desktop) {
    height: 85px;
  }
  @media screen and (min-width: $fullHd) {
    height: 85px;
  }
}
.banner-information__btn {
  background: $green;
  font-size: $font-20;
  line-height: 26px;
  font-weight: $medium;
  letter-spacing: 0.07em;
  color: $darkBlue;
  text-transform: uppercase;
  padding: 16px 46px;
  border-radius: 4px;
  border: none;
  margin-bottom: 13px;
  align-self: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  span {
    display: block;
    background-color: $magenta;
    transition: all .2s ease-in-out;
  }
  span:nth-child(1) {
    top: -3px;
    left: -100%;
  }
  span:nth-child(odd) {
    position: absolute;
    height: 3px;
    width: 100%;
  }
  span:nth-child(even) {
    position: absolute;
    height: 100%;
    width: 3px;
  }
  span:nth-child(2) {
    top: -100%;
    right: -3px;
  }
  span:nth-child(3) {
    bottom: -3px;
    right: -100%;
  }
  span:nth-child(4) {
    bottom: -100%;
    left: -3px;
  }
  &:hover span:nth-child(1) {
    top: 0;
    left: 0;
    transition-delay: .2s;
  }
  &:hover span:nth-child(2) {
    top: 0;
    right: 0;
    transition-delay: .4s;
  }
  &:hover span:nth-child(3) {
    bottom: 0;
    right: 0;
    transition-delay: .6s;
  }
  &:hover span:nth-child(4) {
    bottom: 0;
    left: 0;
    transition-delay: .8s;
  }
  @media screen and (min-width: $mobile) {
    font-size: $font-22;
    line-height: 29px;
    padding: 16px 55px;
    margin-bottom: 20px;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: $desktop) {
    font-size: $font-22;
    padding: 16px 62px;
    max-width: 325px;
  }
  @media screen and (min-width: $fullHd) {
    font-size: $font-32;
    padding: 26px 77px;
    max-width: 457px;
  }
}
.banner-information__link {
  font-weight: $semibold;
  font-size: $font-12;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: $white;
  text-decoration-skip-ink: none;
  @media screen and (min-width: $mobile) {
    font-size: $font-14;
    line-height: 12px;
  }
  @media screen and (min-width: $tabletBig) {
    font-size: $font-12;
    line-height: 16px;
  }
  @media screen and (min-width: $fullHd) {
    position: relative;
    top: 26px;
    font-size: $font-16;
  }
}